<div id="about">
	<a class="smooth"><h1 class="text-center" id="about_back">ABOUT</h1></a>
		
	<div id="about_transbox">	
		<p>
			Remote Monitoring and Control specialize in helping Water Municipalities to monitor their water usage via telemetry equipment and Adroit’s SCADA programs.   
		</p>
		<p>
			The telemetry equipment that we use to monitor water reservoirs and sewage sumps is the following:
		</p>
		<ul>
		    <li>RTU (Remote Terminal Unit)</li>
		    <li>GSM modems</li>
		    <li>Modbus TCP</li>
		</ul>
		<p>
			For SCADA purposes, we use Adroit, which allows our clients to easily monitor their respective water schemes in the comfort of their offices. 
		</p>	
		<p>
			With the Adroit package we can allow users to view historical data of water pump stations, water reservoirs and sewage sumps etc. in the form of a trend.  
		</p>
		<p>
			Not only are our telemetry equipment used for Water Municipalities, but also for other industries like Illovo, Durban Tea and …
		</p>	
	</div>
</div>