<div id="about">
	<a class="smooth"><h1 class="text-center" id="about_back">ABOUT</h1></a>
		
	<div id="about_transbox">	
		<h2>Adroit System Integrators</h2>
		<p>Tell story</p>
		<h2>Telemetry</h2>
		<p>Tell story</p>
	</div>
</div>