<a class="smooth">
	<h1 class="text-center" id="about_back">ABOUT</h1>
</a>
	
<div id="about_transbox">	
	<!-- <p>
		Remote Monitoring and Control specialize in helping Water Municipalities to monitor their water usage via telemetry equipment and Adroit’s SCADA programs.   
	</p>
	<p>
		The telemetry equipment that we use to monitor water reservoirs and sewage sumps is the following:
	</p>
	<ul>
	    <li>RTU (Remote Terminal Unit)</li>
	    <li>GSM modems</li>
	    <li>Modbus TCP</li>
	</ul>
	<p>
		For SCADA purposes, we use Adroit, which allows our clients to easily monitor their respective water schemes in the comfort of their offices. 
	</p>	
	<p>
		With the Adroit package we can allow users to view historical data of water pump stations, water reservoirs and sewage sumps etc. in the form of a trend.  
	</p>
	<p>
		Not only are our telemetry equipment used for Water Municipalities, but also for other industries like Illovo, Durban Tea and …
	</p>	 -->

	<p>
		In 2000, RMC (Remote Monitoring and Control) have been helping water municipalities and other factory industries to monitor and control their equipment from remote locations, via the use of RF (Radio Frequency).
	</p>
	<p>
		By doing so we can convert PLC data to RF data in the form of Analog and Digital data formats.
	</p>
	<p>
		Instead of laying cables to control different equipment, we use RF modems and transparent mondems to do these functions. 
	</p>
	<p>
		To achieve those services, we use a wide range of specialized equipment, which includes the following:
	</p>
	<ul>
	    <li>RTU (Remote Terminal Unit) modems</li>
	    <li>GSM modems</li>
	    <li>Modbus</li>
	    <li>Modbus TCP</li>
	    <li>FEP (Front End Processor) modems</li>
	    <li>GP-controllers</li>
	</ul>		
	<p>
		We can convert RF and GSM data to data which a computer can understand via the use of Adroit's SCADA package.  Therefore making it easier for the user to understand what is going on at their plants and to view hictorical data for futher analysis. 
	</p>

</div>