<div id="about">
	<div class="transbox">	
		<a class="smooth"></a>
		<h1 class="h_padding">ABOUT</h1>
		<h2>Adroit System Integrators</h2>
		<p>Tell story</p>
		<h2>Telemetry</h2>
		<p>Tell story</p>
	</div>
</div>