<a class="smooth">
	<h1 data-sb="zenFadeInRightBig" class="text-center" id="about_back">ABOUT</h1>
</a>
	
<div data-sb="zenFadeInLeftBig" id="about_transbox">	

	<p>
		In 2000, RMC (Remote Monitoring and Control) have been helping water municipalities and other factory industries to monitor and control their equipment from remote locations, via the use of RF (Radio Frequency).
	</p>
	<p>
		By doing so we can convert PLC data to RF data in the form of Analog and Digital data formats.
	</p>
	<p>
		Instead of laying cables to control different equipment, we use RF modems and transparent mondems to do these functions. 
	</p>
	<p>
		To achieve those services, we use a wide range of specialized equipment, which includes the following:
	</p>
	<ul>
	    <li>RTU (Remote Terminal Unit) modems</li>
	    <li>GSM modems</li>
	    <li>Modbus</li>
	    <li>Modbus TCP</li>
	    <li>FEP (Front End Processor) modems</li>
	    <li>GP-controllers</li>
	</ul>		
	<p>
		We can convert RF and GSM data to data which a computer can understand via the use of Adroit's SCADA package.  Therefore making it easier for the user to understand what is going on at their plants and to view hictorical data for futher analysis. 
	</p>

</div>