<div id="contact">
	<a class="smooth"></a>
	<div class="col-md-6">
		<h1 class="h_padding">CONTACT US</h1>
		<h2>Address:</h2>
		<ul>
			<li>2 Wareing road</li>
			<li>Wareing Park</li>
			<li>Pinetown</li>
			<li>Kwa-Zulu Natal</li>
		</ul>

		<h2>Contact Details:</h2>
		<ul>
			<li>Phone: 031 566 6448</li>
			<li>Email: someemail@somewhere.com</li>
		</ul>

		<div id="map" class="embed-responsive embed-responsive-16by9 hidden-xs embed-style">
			<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3461.435978136706!2d30.856916315624716!3d-29.822834981963574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef6fe5c8da45833%3A0x4ecc3ad1f08cc17d!2s2+Wareing+Rd%2C+Pinetown!5e0!3m2!1sen!2sza!4v1458064031014"></iframe>
		</div>
	</div>

	<div class="col-md-6">
		<h2 class="h_padding">Ask a question:</h2>
		<form action="/" name="contactus", id="contactus", method="post" class="form-horizontal">
			<div class="row">
				<div class="form-group">
					<label for="inputName" class="col-md-2 control-label">Name:</label>
					<div class="col-md-6">
						<input name="inputName" type="text" class="form-control" id="inputName" placeholder="Name:  *required", required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="inputEmail" class="col-md-2 control-label">Email:</label>
					<div class="col-md-6">
						<input name="inputEmail" type="email" class="form-control" id="inputEmail" placeholder="Email:  *required" required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="inputTel" class="col-md-2 control-label">Tel:</label>
					<div class="col-md-6">
						<input name="inputTel" type="tel" class="form-control" id="inputTel" placeholder="Contact Number:">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="inputSubject" class="col-md-2 control-label">Subject:</label>
					<div class="col-md-6">
						<input name="inputSubject" type="subject" class="form-control" id="inputSubject" placeholder="Subject:  *required", required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="inputText" class="col-md-2 control-label">Message:</label>
					<div class="col-md-6">
						<textarea name="inputText" class="form-control" id="inputText" cols="30" rows="10" placeholder="Please type your query here:  *required", required></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-2"></div>
					<div class="g-recaptcha col-md-6" data-sitekey="6LfoDx8TAAAAAA7NljOjYNY5ezHnYIdff63SgM3o" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin: 0 0;">
					</div>
				</div>		
			</div>
				<div class="col-md-2"></div>
				<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>