<div id="home">
	<!-- <div class="padding"> -->
		<div id="home_transbox">
			<a class="smooth"></a>
			<h1>Home</h1>
			<p>This is the Home page!</p>
			<img src="images/RMC2.png" alt="" class="img-responsive">
		</div>
	<!-- </div> -->
</div>