<div id="home">
		<div id="home_transbox">
			<a class="smooth"></a>
			<div class="col-md-12">
				<!-- <img src="images/RMC2.png" alt="" class="img-responsive"> -->
			</div>
			<h1>Home</h1>
			<p>This is the Home page!</p>
		</div>
</div>