<div id="home">
	<img src="images/RMC_background1.jpg" alt="" class="img-responsive visible-lg">
	<img src="images/RMC_background2.jpg" alt="" class="img-responsive visible-md">
	<img src="images/RMC_background3.jpg" alt="" class="img-responsive visible-sm">
	<img src="images/RMC_background4.jpg" alt="" class="img-responsive visible-xs">
		<div id="home_transbox">
			<a class="smooth"></a>
			<div class="col-md-12">
			</div>
		</div>
</div>