<!-- <div id="home"> -->
	<div id="home_transbox" class="col-md-6">
		<a class="smooth"></a>
		<!-- <div class="col-md-12" id="home_padding"> -->
			<h1>Your best solution to monitor your productivity!</h1>
			<h3>Let us help you to find solutions to save up water for your community, using our wide range of telemetry equipment and Adroit SCADA.</h3>
		<!-- </div> -->
	</div>
<!-- </div> -->