<div id="services">
	<!-- <div class="padding"> -->
		<a class="smooth"></a>
		<h1 class="text-center" id="services_back">OUR SERVICES</h1>	
		<div class="row" ng-init="serv=[{title:'Adroit SCADA', desc:'Monitoring sites on your desktop.'},
										{title:'Telemetry', desc:'Control, monitor equipment.'},  
										{title:'Reports', desc:'Text goes here'}]">
			<div class="col-md-4 text-center" ng-repeat="x in serv">
				<h2>{{x.title}}</h2>
				<img src="images/{{x.title}}.jpg" class="img-circle img-responsive center-block" alt="">
				<br>
				<p>{{x.desc}}</p>
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	<!-- </div> --> <!-- .padding -->
</div> <!-- #services -->