<!-- <div id="services"> -->
	<!-- <div class="padding"> -->
		<a class="smooth"></a>
		<h1 class="text-center" id="services_back">OUR SERVICES</h1>	
		<div class="row" ng-init="serv=[{title:'Adroit SCADA', desc:'Monitor all of your sites on your PC and view historical data.'},
										{title:'Telemetry', desc:'With our wide range of RTU and GSM equipment we can collect data from your control panels..'},  
										{title:'Reports', desc:'Text goes here'}]">
			<div class="col-md-4 text-center" ng-repeat="x in serv">
				<h2>{{x.title}}</h2>
				<img src="images/{{x.title}}.jpg" class="img-circle img-responsive center-block" alt="">
				<br>
				<p>{{x.desc}}</p>
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	<!-- </div> --> <!-- .padding -->
<!-- </div> #services -->