<div id="services">
	<div class="padding">
		<a class="smooth"></a>
		<h1 class="text-center">OUR SERVICES</h1>	
		<div ng-init="serv=['Adroit SCADA', 'Telemetry', 'Control', 'Monitoring', 'Reports']" class="row">
			<div class="col-md-4" ng-repeat="x in serv">
				<h3 >{{x}}</h3>
				<img src="images/{{x}}.jpg" class="img-circle" width="180" height="180" alt="">
			</div> <!-- .col-md-4 -->
		</div> <!-- .row -->
	</div> <!-- .padding -->
</div> <!-- #services -->