<div id="services">
	<div class="test">
		<a class="smooth"></a>
		<h1 class="text-center">OUR SERVICES</h1>	
		<!-- <ul class="list-inline">
			<li><a href="#">SACADA/Adroit</a></li>
			<li><a href="#">Telemetry</a></li>
			<li><a href="#">Control</a></li>
			<li><a href="#">Monitoring</a></li>
			<li><a href="#">Reports</a></li>
		</ul> -->
		<div class="row">
			<div class="col-md-4">
				<h3>SCADA/Adroit</h3>
				<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
			</div>
			<div class="col-md-4">
				<h3>Telemetry</h3>
				<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
			</div>	
			<div class="col-md-4">
				<h3>Control</h3>
				<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
			</div>	
			<div class="col-md-4">
				<h3>Monitoring</h3>
				<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
			</div>
			<div class="col-md-4">
				<h3>Reports</h3>
				<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
			</div>
		</div>

	</div>
</div>