<div id="work">
	<!-- <div class="transbox"> -->
		<a class="smooth"></a>
		<h1 class="text-center">OUR WORK</h1>	
		<ul class="list-inline">
			<li><a href="#">SACADA/Adroit</a></li>
			<li><a href="#">Telemetry</a></li>
			<li><a href="#">Control</a></li>
			<li><a href="#">Monitoring</a></li>
			<li><a href="#">Reports</a></li>
		</ul>
		<img src="images/Adroit_logo.jpg" class="img-circle" width="180" height="180" alt="">
	<!-- </div> -->
</div>