<div id="work">
	<a class="smooth"></a>
	<h1 class="h_padding">THIS IS WHAT WE ARE CAPABLE OF</h1>	
	<ul>
		<li><a href="#">All</a></li>
		<li><a href="#">SACADA/Adroit</a></li>
		<li><a href="#">Telemetry</a></li>
	</ul>
</div>