body {
  position: relative;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #000000;
}

p, br {
	font-size: 18px;
}

address {
	font-size: 18px;	
}

.nav {
	margin-right: 15px;
	/*color: red;*/
	/*background-color: red;*/
}

.active li{
	color: red;
	background-color: red;
}

.padding {
	padding: 10px;
	margin: 30px;
}

.inline {
	display: inline; 
}

iframe, .embed-style {
	border: 4px outset #ACA8A8;
}

input, .form-control, .btn {
	border: 2px outset #ACA8A8;	
}

.img-circle {
	border: 2px solid black;
}

/*#home, #about, #services, #contact {
	height: 800px;
	margin-bottom: 10px;
	padding-top: 50px;
}*/

section {
	height: 100vh;
	margin-bottom: 10px;
	padding-top: 50px;
}

/******************************************* HOME **************************************************/

#home {
		background: #295575; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(-20deg, #295575, #9FCAEB); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(-20deg, #295575, #9FCAEB); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(-20deg, #295575, #9FCAEB); /* For Firefox 3.6 to 15 */
		background: linear-gradient(-20deg, #295575, #9FCAEB); /* Standard syntax */
}

#home_padding {
	padding-top: 30%;
}

#home #xs-background {
	height: auto;
	width: 75%;
	margin-top: 60px;
	margin-left: 20px;
}

#home_transbox {
	background-color: #fff;
	margin: 30px;
	padding: 10px;
	opacity: 0.8;
	border: 1px solid black;
	color: #000000;
	margin-top: 10%;
}

/*********************************************** ABOUT ********************************************/

#about {
	background: url(../images/thumb.jpg);
	background-repeat: no-repeat;
}


#about_transbox {
	background-color: #ffffff;
	margin: 30px;
	padding: 10px;
	opacity: 0.9;
	border: 1px solid black;
	color: #000000;
}

#about_back {
	position: relative;
	padding-top: 5px;
	height: 50px;
	background-color: #295575;
	color: #ffffff;
}

/******************************************** SERVICES ****************************************************/

#services {
	background: url(../images/services.jpg);
	background-repeat: no-repeat;
}

#services p {
	color: #ffffff; 	
}

#services h1 {
	color: #ffffff; 	
}

#services h2 {
	color: #ffffff; 	
}

#services_back {
	position: relative;
	padding-top: 5px;
	height: 50px;
	background-color: #53AAEB;
	color: #ffffff;
}


/****************************************** CONTACT ****************************************************/

#contact {
	height: 950px;
}

#contact_back {
	position: relative;
	padding-top: 5px;
	height: 50px;
	background-color: #9FCAEB;
}

/********************************************* RESPONSIVE ***********************************************/

/**************** Large Devices - Desktops >= 1200px ************/

@media (min-width: 1200px) {

	#home, #about, #services, #contact {
		height: 1024px;
	}

	#home img {
		margin-top: 60px;
		margin-left: 35%;
		height: 25%;
	}

	#about, #services {
		background-size: 100% 1000px
	}
} 

/**************** Medium Devices - Desktops >= 992px ************/

@media (max-width: 1200px) and (min-width: 992px){

	#home, #about, #services, #contact {
		height: 1024px;
	}

	#home img {
		margin-top: 60px;
		margin-left: 35%;
		height: 25%;
	}

	#about, #services {
	background-size: 100% 1000px
	}
} 

/**************** Small Devices - Tablets >= 768px ************/

@media (max-width: 992px) and (min-width: 768px){

	#home, #about, #contact {
		height: 1024px;
	}

	#home img {
		margin-top: 60px;
		margin-left: 25%;
		height: 20%;
	}

	#about {
		background-image: url(../images/thumb_x1000.jpg);
		background-repeat: no-repeat;
	}

	#services {
		height: 1270px;
		background-size: 100% 1270px
	}
} 

/**************** Small Devices - Tablets < 800px ************/

@media only screen and (max-width: 800px) {

	#services {
		height: 1270px;
		background-size: 100% 1270px
	}
}

/**************** Extra Devices - Phones < 768px ************/

@media (max-width: 768px) {

	#home, #about, #contact {
		height: 1024px;
	}

		#home_padding {
		padding-top: 70%;
	}
		#home img {
		margin-top: 60px;
		margin-left: 18%;
		height: 20%;
	}

	#about {
		background-size: 100% 1024px
	}
}

/**************** Extra Devices - Phones < 460px ************/

@media (max-width: 460px) {

		#home img {
		margin-top: 30px;
		margin-left: 8%;
		height: 15%;
	}

	#services {
		height: 1320px;
		background-size: 100% 1320px
	}
}