body {
  padding: 50px;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
	/*background-color: #ACA8A8;*/
	border-right: 8px solid #A6A2A2;
	border-left: 8px solid #A6A2A2;
}

a {
  color: #00B7FF;
}

#home, #services, #work, #contact {
	height: 800px;
}

#home {
	background: url(../images/Binary-_iS_.jpg) no-repeat;
	padding-top: 50px;
}

#services {
	background: url(../images/thumb.jpg) no-repeat;
	padding-top: 50px;
}

.transbox {
	background-color: #ffffff;
	margin: 30px;
	padding: 10px;
	opacity: 0.8;
	border: 1px solid black;
	color: #000000;
}

/*.h_padding {
	padding-top: 60px;
}*/

.nav {
	margin-right: 15px;
}

iframe, .embed-style {
	border: 4px outset #ACA8A8;
}

input, .form-control, .btn {
	border: 2px outset #ACA8A8;	
}