<head>
    <title>Home</title>
</head>

<div class="container-fluid">
    <div class="row Headcontainer">
        <center>
            <img src="/img/CompanyLogo.gif" class="img-responsive CompanyLogo">
        </center>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <br>
        <div class="well well-sm row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                <center>
                    <img src="/img/" class="img-responsive StaggerImage">
                </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                <center>
                    <h4>Web Scada</h4>
                </center>
                <div class="mywell row">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
        <div class="well well-sm row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
                <center>
                    <img src="/img/" class="img-responsive StaggerImage">
                </center>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
                <center>
                    <h4>RMC</h4>
                </center>
                <div class="mywell row">
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="well well-sm row">
            <center>
                <h4>
                    Contact US
                </h4>
            </center>
       
            <div class="row ContactBody">
                <div class="col-lg-offset-4 col-lg-4">
                    <center>
                        <div class="bubbles">
                            <div class="ContactsTitle col-lg-12">
                                Tel
                            </div>
                            number here
                        </div>

                        <br>

                        <div class="bubbles">
                            <div class="ContactsTitle col-lg-12">
                                Email
                            </div>
                            Email here
                        </div>

                        <br>

                        <div class="bubbles">
                            <div class="ContactsTitle col-lg-12">
                                Address
                            </div>
                            201 Beaken Rock,<br> 
                            21 Lighthouse Road,<br> 
                            Umhlanga,<br> 
                            4319,<br> 
                            South Africa
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>